<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post">
        商品编号: <input type="text" name="pid"><br><br>
        商品名称: <input type="text" name="pname"><br><br>
        商品价格: <input type="text" name="price"><br><br>
        进货数量: <input type="text" name="count"><br><br>
        <input type="submit" value="确认进货"><br><br>
    </form>
</body>
</html>